@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-tinos: var(--font-tinos);
  --font-tiny5: var(--font-tiny5);
  --color-dark-500: oklch(29.2348% 0 0);
}

@font-face {
  font-family: 'DOS-VGA';
  src: 
    url('/font/perfect-dos-vga-437-cdnfonts/Perfect\ DOS\ VGA\ 437.ttf') format('truetype'),
    url('/font/perfect-dos-vga-437-cdnfonts/Perfect\ DOS\ VGA\ 437\ Win.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  font-family:  'DOS-VGA', monospace;
}
